.btn_connect, .wallet_btn_dropdown {
  height: 40px;
  text-transform: uppercase;
  border: none;
  line-height: 1rem;
  border-radius: 2.5rem;
  cursor: pointer;
}

.btn_connect {
  width: 154px;
  background-color: var(--green-300);
  transition: all 0.2s ease-in-out;
  color: var(--dark-green-700);
  cursor: pointer;
}

.btn_connect:hover {
  background-color: var(--green-500);
  box-shadow: var(--green-box-shadow);
}

.wallet_btn_dropdown, .dropdown_icons, .dropdown_wrapper   {
  display: flex;
  align-items: center;
}

.wallet_btn_dropdown {
  justify-content: space-between;
  width: 159px;
  height: 32px;
  padding-inline: 0.5rem;
  background: var(--white-40);
  border: 1px solid var(--primary-700);
  border-radius: 6.25rem;
  color: var(--grey-01);
}

.dropdown_icons {
  gap: 0.55rem;
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
}

.dropdown_wrapper {
  flex: 1;
  display: flex!important;
  justify-content: flex-end;
}

@media (min-width: 1024px) {
  .wallet_btn_dropdown {
    width: 171px;
    height: 40px;
    padding-inline: 1rem;
  }
}