.container {
  width: 100%;
  padding-inline: 1rem;
  margin-inline: auto;
  background: var(--bg-gradient-4);
  display: flex;
}

.content {
  width: 100%;
  max-width: 50rem;
  height: 100%;
  margin: 6.5rem auto;
}
.content > * {
  margin-inline: auto;
}

.content p {
  width: 100%;
  max-width: 37.75rem;
}

.title {
  background: var(--green-gradient-100);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title > span{
   background: var(--primary-50);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@media (min-width: 768px) {
  .container {
    height: 100vh;
  }
}
@media (min-width: 1280px) {
  .container {
    background-size: contain;
  }
}